/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for Startup St. Bernard
 *
 */
.front {
  #page-title {
    display: none;
  }
}
.not-front {
  #content {
    width: 80%;
    margin: auto;
  }
}
#block-block-2 {
  background: none repeat scroll 0 0 $dark-blue;
  text-transform: uppercase;
  .top-title {
    color: $aqua;
    font-weight: 900;
    a {
      color: $aqua;
      padding-left: 10%;
      text-decoration: none;
    }
  }
  .top-enter {
    color: white;
    font-weight: 900;
    a {
      color: white;
      text-decoration: none;
    }
    span {
      color: $aqua;
      display: block;
      font-weight: normal;
      font-size: 0.5em;
      font-style: italic;
    }
  }
}
#block-block-3, .welcome {
  background: url('/sites/default/files/images/StartUpStBernard-logoBG.jpg') repeat scroll top center transparent;
  text-align: center;
  height: 528px;
  .block-title {
    display: none;
  }
  p {
    margin: 0;
  }
  img {
    padding-top: 0em;
  }
}
  .view {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
  }
 .block__title {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.085em;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: uppercase;
 }
 .block {
  margin-bottom: 0;
 }
 .about {
   .block__title {
    color: $aqua;
    text-transform: uppercase;
   }  
 }
.prize-package {
    background: none repeat scroll 0 0 $light-aqua;
   .block__title {
    background: none repeat scroll 0 0 $aqua;
    color: white;
    text-align: center;
    padding: 1em;
    span {
      color: $dark-blue;
    }
   }
   ul {
    margin-top: 2em;
   }
   li {
    color: $aqua;
    list-style: square;
    margin: 1em 0;
    span {
      color: $dark-blue;
    }
    ul {
      margin-top: 0;
    }
   }
}
.how-it-works {
 .block__title {
    background: url('/sites/default/files/images/StartUpStBernard-worksBG.jpg') repeat scroll 0 0 transparent;
    color: white;
    padding: 3em;
    text-align: center;
      span {
        background: none repeat scroll 0 0 $dark-blue;
        padding: 0.5em;
      }
  }
  li {
    color: $aqua;
    font-size: 1.5em;
    font-weight: bold;
    p {
      color: $dark-blue;
      font-size: 0.75em;
      margin-top: 0.25em;
      font-weight: normal;
    }
  }
}
.sponsors {
  background: none repeat scroll 0 0 $aqua;  
   .block__title {
    color: white;
    text-align: center;
  }
  .view {
    max-width: 915px;
  }
}
.enter-the-challenge {
  background: url('/sites/default/files/images/StartUpStBernard-registerBG.jpg') no-repeat scroll bottom center $dark-blue;
  color: $aqua;
  padding-bottom: 20em;
  text-align: center;
   .block__title {
    color: $aqua;
    text-align: center;
    padding: 0;
   }
   a {
    color: $aqua;
   }
   span {
    color: white;
   }
   a.enter-link {
    background: none repeat scroll 0 0 $yellow;
    color: $dark-blue;
    display: block;
    font-size: 2em;
    margin: auto;
    padding: 1em;
    text-align: center;
    text-decoration: none;
   }
   a.attend-link {
    background: none repeat scroll 0 0 $yellow;
    color: $dark-blue;
    margin: auto;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
   }
}
.section-enter {
  #main {
    background: none repeat scroll 0 0 $light-aqua;    
  }
  .form-item-submitted-address-country {
    display: none;
  }
  input:focus {
    background: none repeat scroll 0 0 $yellow;
  }
}
#footer {
  background: none repeat scroll 0 0 $dark-blue;
  color: white;
  font-size: 0.75em;
  text-align: center;
}
// responsive grid layout
.views-responsive-grid {
  @include zen-grid-item-base();
  @include zen-grid-container();
}
.views-responsive-grid .views-row {
  @include zen-clear();
}
.views-responsive-grid.views-columns-2 {
  $zen-column-count:  2;
  @include zen-nested-container();
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
}
.views-responsive-grid.views-columns-3 {
  $zen-column-count:  3;
  @include zen-nested-container();
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
}
.views-responsive-grid.views-columns-4 {
  $zen-column-count:  4;
  @include zen-nested-container();
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
  .views-column-4 {
    @include zen-grid-item(1, 4);
  }
}
.views-responsive-grid.views-columns-5 {
  $zen-column-count:  5;
  @include zen-nested-container();
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
  .views-column-4 {
    @include zen-grid-item(1, 4);
  }
  .views-column-5 {
    @include zen-grid-item(1, 5);
  }
}
