/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for Startup St. Bernard
 *
 */
 .front {
  #page-title {
    display: none;
  }
#block-block-2 {
  background: none repeat scroll 0 0 $dark-blue;
  font-size: 1.5em;
  height: 1em;
  padding: 1em;
  text-transform: uppercase;
  .top-title {
    color: $aqua;
    float: left;
    width: 50%;
  }
  .top-enter {
    color: white;
    float: left;
    width: 25%;
  }
  .top-social {
    float: left;
    width: 25%;
  }
}
#block-block-3 {
  text-align: center;
  p {
    margin: 0;
  }
}

  .view {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
  }
   .block__title {
      padding-left: 10%;
      padding-right: 10%;
      margin: auto;
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
   }
}
 .block {
  margin-bottom: 0;
 }
 .about {
   .block__title {
    color: $aqua;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
   }  
 }
.prize-package {
    background: none repeat scroll 0 0 $light-aqua;
   .block__title {
    background: none repeat scroll 0 0 $aqua;
    color: white;
    text-align: center;
   }  
}
.how-it-works {
   .block__title {
      color: white;
      padding: 4em;
      text-align: center;
      span {
        background: none repeat scroll 0 0 $dark-blue;
        padding: 1em;
      }
    }  
}
.enter-the-challenge {
  background: none repeat scroll 0 0 $dark-blue;
   .block__title {
    color: $aqua;
    text-align: center;
   }  
}
// responsive grid layout
.views-responsive-grid {
  @include zen-grid-item-base();
  @include zen-grid-container();
}
.views-responsive-grid .views-row {
  @include zen-clear();
}
.views-responsive-grid.views-columns-2 {
  $zen-column-count:  2;
  @include zen-nested-container();
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
}
.views-responsive-grid.views-columns-3 {
  $zen-column-count:  3;
  @include zen-nested-container();
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
}
.views-responsive-grid.views-columns-4 {
  $zen-column-count:  4;
  @include zen-nested-container();
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
  .views-column-4 {
    @include zen-grid-item(1, 4);
  }
}
.views-responsive-grid.views-columns-5 {
  $zen-column-count:  5;
  @include zen-nested-container();
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
  .views-column-4 {
    @include zen-grid-item(1, 4);
  }
  .views-column-5 {
    @include zen-grid-item(1, 5);
  }
}
